@font-face {
	src: url(../fonts/News_Peper_01.ttf);
	font-family: NewsPaper01;
}

@font-face{
	src: url(../fonts/OldNewspaperTypes.ttf);
	font-family: OldNewsPaper;
}

body{
	background-image: url(../Assets/paper.png);
}

.newspaper_container{
	display: flex;
	position: absolute;
	top: 100px;
	right: auto;
	height: 1560px;
	width: 250px;
}

.newspaper_img{
	width: 100%;
	object-fit: none;
	object-position: right;
	-webkit-box-reflect: right 73vw;
    -webkit-user-drag: none;
}
.header-main{
	background-color: #2E0058FF;
	width: 100%;
	height: 100px;
	display: inline-block;
}

.title-container{
	position: relative;
	top: 5px;
	font-size: 60px;
	display: inline-block;
	font-family: 'OldNewsPaper', sans-serif;
}

.title-container a{
	text-decoration: none;
	color: white;
}

.nav-container{
	display: inline-block;
	position: relative;
	bottom: 6px;
	left: 800px;
}
.nav-container ul a{
	font-size: 35px;
	font-family: NewsPaper01;
	color: white;
	margin: 10px;
	padding-bottom: 7px;
}
.nav-container ul a:hover{
	border-radius: 3px;
	border-bottom: 4px solid white;
	transition: border-bottom .1s;
}

.icon-container{
	position: relative;
	padding-left: 10px;
	top: 15px;
	height: 65px;
	display: inline-block;
}

.img__icono{
	height: 100%;
	width: 100%;
	display: inline-block;
	box-sizing: content-box;
	object-fit: contain;
}

.main_view{
	display: flex;
	position: relative;
	margin: 0 auto;
	width: 90em;
	height: 110vh;
}

.artist_container{
	display: grid;
	width: 1500px;
	height: 1500px;
	margin: 30px auto;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, 280px);
	grid-auto-rows: 350px;
	grid-gap: 10px;
}

.artist_box{
	display: flex;
	border-radius: 5px;
	background-color: #2E005888;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 350px;
	width: 280px;
}

.artist_box h3{
	margin-top: 5px;
	padding-top: 5px;
}

.artist_box h3, b{
	color: white;
	font-family: 'OldNewsPaper', sans-serif;
}

.artist_box img{
	border-radius: 50%;
	height: 250px;
	width: 250px;
}