@font-face {
	src: url(../fonts/News_Peper_01.ttf);
	font-family: NewsPaper01;
}

@font-face{
	src: url(../fonts/OldNewspaperTypes.ttf);
	font-family: OldNewsPaper;
}

body{
	background-image: url(../Assets/paper.png);
}

.newspaper_container{
	display: flex;
	position: absolute;
	top: 100px;
	right: auto;
	height: 1050px;
	width: 250px;
}

.newspaper_img{
	width: 100%;
	object-fit: none;
	object-position: right;
	-webkit-box-reflect: right 73vw;
    -webkit-user-drag: none;
}

.header-main{
	background-color: #2E0058FF;
	width: 100%;
	height: 100px;
	display: inline-block;
}

.title-container{
	position: relative;
	top: 5px;
	font-size: 60px;
	display: inline-block;
	font-family: 'OldNewsPaper', sans-serif;
}

.title-container a{
	text-decoration: none;
	color: white;
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
}
.nav-container{
	display: inline-block;
	position: relative;
	bottom: 6px;
	left: 800px;
}
.nav-container ul a{
	font-size: 35px;
	font-family: NewsPaper01;
	color: white;
	margin: 10px;
}

.nav-container ul a:hover{
	border-radius: 3px;
	border-bottom: 4px solid white;
	transition: border-bottom .1s;
}

.icon-container{
	position: relative;
	padding-left: 10px;
	top: 15px;
	height: 65px;
	display: inline-block;
}

.img__icono{
	height: 100%;
	width: 100%;
	display: inline-block;
	box-sizing: content-box;
	object-fit: contain;
}

.main_view{
	display: flex;
	position: relative;
	margin: 0 auto;
	width: 90em;
	height: 110vh;
}

.search_bar_container{
	height: 55px;
	margin-top: 20px;
}

::placeholder{
	color: #444;
}

.search_bar{
	height: 50px;
	width: 700px;
	border-radius: 20px;
	border-style: none;
	background-color: #33333355;
	color: #444;
	font-family: OldNewsPaper;
	font-size: 25px;
	padding-left: 30px;
	outline: none;
}

.album_container{
	display: flex;
	position: absolute;
	margin-top: 120px;
	width: 100%;
}

.album_container img{
	height: 450px;
}

.album_text{
	margin: 60px 0 0 30px;
	font-family: OldNewsPaper;
}

.album_text h4{
	color: #444;
	font-size: 30px;
}

.album_text h2{
	font-size: 50px;
	padding-top: 10px;
}

.songs_container{
	display: flex;
	font-family: OldNewsPaper;
	font-size: 20px;
	position: absolute;
	top: 35em;
	width: 72em;
	justify-content: space-between;
}

ul{
	list-style-type: none;
	width: 100%;
}

li{
	padding: 10px 0;
	border-bottom: 2px solid black;
}

.date{
	text-align: center;
}

